<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" 	href="/bootstrap/css/bootstrap.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" 	href="/bootstrap/css/bootstrap.min.css" media="screen,projection" />



<title>ENDEREÇO</title>
<!-- https://bootsnipp.com/snippets/0BDPG -->
</head>
<body>
	
<h2>TRANSPARÊNCIA GOVERNO DO DISTRITO FEDERAL - FUNCIONARIO ENDEREÇO </h2>	
<a href="/cadastroendereco">CAD. ENDEREÇO</a>



	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
	
    

</body>
</html>